h2{color: blue;font-style: italic;}
p{text-align: justify;text-indent: 8pt;font: 10pt/15pt;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.water{color: rgb(45, 82, 202);font:"Times New Roman"}
.danger{color: crimson;}
#mauxam{color: darkgrey;font:"sans-serif"}